body {
    background-color: #f7ead7;
    color: "#333";
    font-family: 'Roboto';
    /* margin-left: 5%;
    margin-right: 5% */
}


.simpleTable {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}

#grad {
    background-image: linear-gradient( #f7ead7,white,#f7ead7);
}
.vignette {
    width: 140px;
   height: 140px;
   background: white; 
   -moz-border-radius: 70px; 
   -webkit-border-radius: 70px; 
   border-radius: 70px;
}
#grad_r {
    background-image: radial-gradient( #f7ead7,white,#f7ead7);
}

.lineChart {
    background-color: transparent;
    font-family: 'Playfair Display', Georgia, 'Times New Roman', Times, serif;
}

.greaterArea tr td { 
    width:70%; 
}